snippet j
jQuery(${1:selector})$0
endsnippet

snippet each
each(function () {
$0
});
endsnippet

snippet ( "(function () {})" iw
(function (${1:param}) {
$0
}
endsnippet

snippet varf "var foo = function"
var ${1:name} = function (${2:params}) {
	$0;
});
endsnippet
