snippet if "if condition"
{% if ${1:condition} %}
    $2
{% endif %}
endsnippet

snippet % "twig tag"
{% $1 %}$0
endsnippet

snippet tt "twig tag"
{% $1 %}$0
endsnippet

snippet te "twig echo"
{{ ${1:var} }}
endsnippet
